@using System.Security.Claims;
@{string user = string.Empty;}
@{string name = User.Identity.Name;}


@if (User.Identities.Any(u => u.IsAuthenticated))
{
    user = @User.Identities.First(
    u => u.IsAuthenticated &&
    u.HasClaim(c => c.Type == ClaimTypes.Name)).FindFirst(ClaimTypes.Name).Value;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyectov1</title>
    <link rel="stylesheet" href="~/css/Page.css" />
</head>
<body>
    <header>
        <div class="nav-content">
            <ul class="box-shadow border-bottom navbar">
                <li class="nav-tittle-item"><a class="nav-item nav-tittle" href="/Admin">MyGYM - @name</a></li>
                <li class="nav-item-li"><a class="nav-item" href="/Admin/Empleados">Empleados</a></li>
                <li class="nav-item-li"><a class="nav-item" href="/Admin/Socios">Socios</a></li>
                <li class="nav-item-li"><a class="nav-item" href="/Admin/Mobiliario">Mobiliario</a></li>
                <li class="nav-item-li"><a class="nav-item" href="/Admin/Aparatos">Tipos de Aparatos</a></li>
                <li class="nav-item-li nav-out-li"><a class="nav-item" href="/SingOut">Cerrar Sesion</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <hr />
            <div class="container-foot">
                &copy; 2019 - MyGYM
            </div>
        </div>
    </footer>

    
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
