@model Proyectov1.Models.Persona

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Empleado</h1>

<h3>Esta seguro de eliminar a este empleado?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Usuario
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usu.UsuName)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usu.UsuCorr)
        </dd>
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @String.Concat(Model.PerNombre, " ", Model.PerNombre2, " ", Model.PerPaterno, " ", Model.PerMaterno)
        </dd>
        <dt class="col-sm-2">
            RFC
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpRfc)
        </dd>
        <dt class="col-sm-2">
            IMSS
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpImss)
        </dd>

        <dt class="col-sm-2">
            Estado
        </dt>
        @if (Model.PerEstado.Value)
        {
            <dd class="col-sm-10">
                Activo
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Inactivo
            </dd>
        }
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PerId" />
        <input type="hidden" asp-for="UsuId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a href="/Admin/Empleados">Regresar a Listado</a>
    </form>
</div>
