@model IEnumerable<Proyectov1.Models.Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>MIS SOCIOS</h1>


<a class="btn btn-primary" href="/Admin/Socios/Create">Nuevo Socio</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre(s)</th>
            <th>Apellidos</th>
            <th>Altura</th>
            <th>Peso</th>
            <th>Telefono</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Estatus</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @String.Concat(item.PerNombre, " ", item.PerNombre2)
            </td>
            <td>
                @String.Concat(item.PerPaterno, " ", item.PerMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocAltura) m
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocPeso) kg
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usu.UsuName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Usu.UsuCorr)
            </td>
            @if (item.PerEstado.Value)
            {
                <td class="active">Activo</td>
            }
            else
            {
                <td class="inactive">Inactivo</td>
            }
            <td class="td-buttons">
                <a class="btn btn-warning" href="/Admin/Socios/Edit/@item.PerId">Editar</a>
                <a class="btn btn-danger" href="/Admin/Socios/Delete/@item.PerId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
